<ion-header>
    <ion-toolbar class="bg-toolbar">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>การจัดการชุดข้อสอบ</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg">

    <!-- Find all subject -->
    <ion-card class="bg-gradient-purple">
        <ion-card-header>
            <h3>ค้นหารายการวิชาทั้งหมด</h3>
        </ion-card-header>
        <ion-list lines="none">
            <ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-label align-self-center>
                            วิชา
                            <ion-text color="danger">*</ion-text>
                        </ion-label>
                        <ion-select placeholder="โปรดเลือก" name="crsId" [(ngModel)]="crsId">
                            <ion-select-option
                                *ngFor="let rs_subject of rs_subject;let i = index" [value]="rs_subject.sub_id">
                                {{rs_subject.sub_code_th}} {{rs_subject.sub_name_th}}
                            </ion-select-option>
                        </ion-select>
                    </ion-row>
                </ion-grid>
            </ion-item>
            <ion-row>
                <ion-col>
                    <ion-button (click)="searchSubject()" color="primary" float-right>ค้นหา</ion-button>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-card>
    <!-- End find all subject -->

    <!-- Show all subject item -->
    <ion-card *ngIf="hide" class="bg-gradient-purple">
        <ion-card-header>
            <h3>รายการชุดข้อสอบทั้งหมด</h3>
        </ion-card-header>
        <ion-item>
            <ion-grid>
                <ion-row class="ion-text-center" *ngFor="let Rs_exam of rs_exam; let i = index">
                    <ion-item-sliding>
                        <ion-item lines="none">
                            <ion-label>{{Rs_exam.ib_name}}</ion-label>
                        </ion-item>
                        <ion-item-options lines="none">
                            <ion-item-option color="warning" (click)="edit(Rs_exam.ib_id)">แก้ไข</ion-item-option>
                            <ion-item-option color="danger" (click)="delete_exam(Rs_exam.ib_id)">ลบ</ion-item-option>
                        </ion-item-options>
                    </ion-item-sliding>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-card>
    <!-- End show all subject item -->

    <!-- Add subject item -->
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="success" (click)="addItem()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>