<ion-header>
    <ion-toolbar [ngClass]="{'bg-toolbar': menuTest === true, 'bg-toolbar2': menuTest === false}">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>หน้าแรก</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [ngClass]="{'bg': menuTest === true, 'bg2': menuTest === false}">

    <div class="row mt-2 ml-2 mb-1">
        <ion-chip outline color="dark">
            <ion-icon color="danger" name="heart"></ion-icon>
            <ion-label>สวัสดี {{name}}</ion-label>
        </ion-chip>
    </div>

    <!-- เมนูทำข้อสอบออนไลน์ -->
    <ion-card *ngIf="menuTest" id="online-testing" routerLink="/list-testing" class="mt-0">
        <ion-card-header>
            <ion-card-subtitle class="text-white">นักเรียน</ion-card-subtitle>
            <ion-card-title class="text-white">ทำข้อสอบออนไลน์</ion-card-title>
        </ion-card-header>
    </ion-card>
    <!-- สิ้นสุดเมนูทำข้อสอบออนไลน์ -->

    <!-- เมนูแสดงผลการสอบ -->
    <ion-card *ngIf="menuTest" id="review" routerLink="/review-student">
        <ion-card-header>
            <ion-card-subtitle class="text-white">นักเรียน</ion-card-subtitle>
            <ion-card-title class="text-white">แสดงผลการสอบ</ion-card-title>
        </ion-card-header>
    </ion-card>
    <!-- เมนูแสดงผลการสอบ -->

    <!-- จัดการชุดข้อสอบ -->
    <ion-card *ngIf="menuAdmin" id="admin" routerLink="/admin">
        <ion-card-header>
            <ion-card-subtitle class="text-white">ผู้ดูแลระบบ</ion-card-subtitle>
            <ion-card-title class="text-white">จัดการชุดข้อสอบ</ion-card-title>
        </ion-card-header>
    </ion-card>
    <!-- จัดการชุดข้อสอบ -->

    <!-- จัดการบัญชีผู้ใช้ -->
    <ion-card *ngIf="menuAdmin" id="user" routerLink="/user">
        <ion-card-header>
            <ion-card-subtitle class="text-white">ผู้ดูแลระบบ</ion-card-subtitle>
            <ion-card-title class="text-white">จัดการบัญชีผู้ใช้</ion-card-title>
        </ion-card-header>
    </ion-card>
    <!-- จัดการบัญชีผู้ใช้ -->
</ion-content>