<ion-header>
    <ion-toolbar class="bg-toolbar">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>หน้าแรก</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg">

    <ion-chip class="m-3 mb-0 bg-light-blue ">
        <ion-avatar>
            <img src="https://image.flaticon.com/icons/svg/145/145849.svg">
        </ion-avatar>
        <ion-label>สวัสดีคุณ {{username}}</ion-label>
    </ion-chip>

    <!-- เมนูทำข้อสอบออนไลน์ -->
    <ion-card id="online-testing" routerLink="/list-testing" class="mt-0">
        <ion-card-header>
            <ion-card-subtitle class="text-white">นักเรียน</ion-card-subtitle>
            <ion-card-title class="text-white">ทำข้อสอบออนไลน์</ion-card-title>
        </ion-card-header>

        <ion-card-content>

        </ion-card-content>
    </ion-card>
    <!-- สิ้นสุดเมนูทำข้อสอบออนไลน์ -->

    <!-- เมนูแสดงผลการสอบ -->
    <ion-card id="review" routerLink="/review-student">
        <ion-card-header>
            <ion-card-subtitle class="text-white">นักเรียน</ion-card-subtitle>
            <ion-card-title class="text-white">แสดงผลการสอบ</ion-card-title>
        </ion-card-header>

        <ion-card-content>

        </ion-card-content>
    </ion-card>
    <!-- เมนูแสดงผลการสอบ -->
</ion-content>