<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>หน้าแรก</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- เมนูทำข้อสอบออนไลน์ -->
    <ion-card color="success" routerLink="/list-testing">
        <ion-card-header>
            <ion-card-subtitle>นักเรียน</ion-card-subtitle>
            <ion-card-title>ทำข้อสอบออนไลน์</ion-card-title>
        </ion-card-header>

        <ion-card-content>

        </ion-card-content>
    </ion-card>
    <!-- สิ้นสุดเมนูทำข้อสอบออนไลน์ -->

    <!-- เมนูแสดงผลการสอบ -->
    <ion-card color="primary" routerLink="/review-student">
        <ion-card-header>
            <ion-card-subtitle>นักเรียน</ion-card-subtitle>
            <ion-card-title>แสดงผลการสอบ</ion-card-title>
        </ion-card-header>

        <ion-card-content>

        </ion-card-content>
    </ion-card>
    <!-- เมนูแสดงผลการสอบ -->
</ion-content>