.bg {
  --background: #dae8ee !important;
}

.bg-toolbar {
  --background: #c9e5f1 !important;
}

#online-testing {
  --background: linear-gradient(to bottom right, #3366ff 0%, #6699ff 55%);
}

#review {
  background: linear-gradient(to top left, #cc33ff 0%, #cc0099 55%);
}

#card-info {
  background: linear-gradient(to bottom right, #eeb255 0%, #fcec8a 95%);
}

.profile-photo {
  border-radius: 50% !important;
  overflow: hidden;
  margin: auto;
}

.text-card-info {
  color: white !important;
}
