<ion-header>
    <ion-toolbar class="bg-toolbar">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>การจัดการชุดข้อสอบ</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg">
    <ion-card style="background-color: white;">

        <ion-card-header class="bg-gradient-purple">
            <h3>
                <ion-icon name="albums"></ion-icon> แก้ไขชุดข้อสอบวิชา
            </h3>
        </ion-card-header>

        <!-- Item -->
        <ion-item>

            <ion-label position="floating">
                รหัสวิชา
            </ion-label>
            <ion-select placeholder="โปรดเลือก" name="ib_sub_id" [(ngModel)]="ib_sub_id">
                <ion-select-option
                    *ngFor="let rs_subject of rs_subject;let i = index" [value]="rs_subject.sub_id">
                    
                    {{rs_subject.sub_code_th}} {{rs_subject.sub_name_th}}
                </ion-select-option>
            </ion-select>

        </ion-item>
        <ion-item>
            <ion-label position="floating">
                รหัสชุดข้อสอบ
            </ion-label>
            <ion-input type="text" [(ngModel)]="ib_code" placeholder="โปรดกรอกข้อมูล"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">
                ชื่อชุดข้อสอบ
            </ion-label>
            <ion-input type="text" [(ngModel)]="ib_name" placeholder="โปรดกรอกข้อมูล"></ion-input>
        </ion-item>

        <ion-item style="border-radius: 5px; margin-top: 5px;">
            <ion-label position="floating">
                จำนวนคำถาม
            </ion-label>
            <ion-input type="number" [(ngModel)]="ib_stem_amount" placeholder="โปรดกรอกข้อมูล"></ion-input>
        </ion-item>
        <ion-item style="border-radius: 5px; margin-top: 5px;">
            <ion-label position="floating">
                จำนวนคำตอบ
            </ion-label>
            <ion-input type="number" [(ngModel)]="ib_option_amount" placeholder="โปรดกรอกข้อมูล"></ion-input>
        </ion-item>
        <!-- end Item -->

        <div class="mt-5">
            <ion-button expand="block" (click)="edit_Exam()" color="success">ยืนยัน</ion-button>
            <ion-button expand="block" (click)="cancle_Exam()" color="danger">ยกเลิก</ion-button>
        </div>
    </ion-card>

</ion-content>