<ion-header>
    <ion-toolbar class="bg-toolbar">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title> ทำข้อสอบออนไลน์ </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg">
    <ion-card>

        <ion-card-header class="bg-gradient-blue">
            <h3> รายละเอียดการสอบ </h3>
        </ion-card-header>

        <ion-list>
            <ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-col size="4">
                            <div>
                                รหัสวิชา
                            </div>
                        </ion-col>
                        <ion-col>
                            <div>
                                {{this.code_name}}
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
            <ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-col size="4">
                            <div>
                                ชื่อวิชา
                            </div>
                        </ion-col>
                        <ion-col>
                            <div>
                                {{this.course_name}}
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
            <ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-col size="4">
                            <div>
                                คำอธิบาย
                            </div>
                        </ion-col>
                        <ion-col>
                            <div>
                                {{this.course_description}}
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
            <ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-col size="4">
                            <div>
                                จำนวนข้อสอบ
                            </div>
                        </ion-col>
                        <ion-col>
                            <div>
                                {{this.amount_testing}} ข้อ
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
            <ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-col size="4">
                            <div>
                                เวลา
                            </div>
                        </ion-col>
                        <ion-col>
                            <div>
                                {{this.time}} นาที
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-list>
    </ion-card>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button (click)="onGoToNextPage()" color="success" expand="block">เริ่มทำการสอบ</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
