<ion-header>
    <ion-toolbar class="bg-toolbar">
        <ion-title>ทำข้อสอบออนไลน์</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen class="bg">
    <ion-slides [options]="slideOpts" pager="true">
        <ion-slide *ngFor="let question of list_question, let i = index">
            <ion-card >
                <ion-card-header class="ion-text-start bg-gradient-blue ">
                    <h6>
                        ข้อ {{i+1}}
                        <br>
                        {{question.question}}
                    </h6>
                </ion-card-header>
                <ion-card-content style="background: white;">
                    <ion-list class="ion-text-start bg m-0 p-0">
                        <ion-radio-group>
                            <div *ngFor="let choice of list_choice" >
                                <ion-grid *ngIf=" choice.qt_id == question.qt_id">
                                    <ion-row class="bg">
                                        <ion-col size="11" size-lg align-items-start>
                                            {{choice.choices_text}}
                                        </ion-col>
                                        <ion-col size="1" size-lg>
                                            <ion-radio (ionSelect)="insert_choice(choice.choices_id,choice.qt_id)">
                                            </ion-radio>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                            </div>
                        </ion-radio-group>
                    </ion-list>
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>
</ion-content>

<ion-footer >
    <ion-toolbar class="bg-toolbar">
        <ion-grid>
            <ion-row>
                <ion-col size="3" size-lg>
                    <ion-button (click)="cancle()">
                        <ion-icon name="arrow-round-back"></ion-icon>
                    </ion-button>
                </ion-col>
                <ion-col size="9" size-lg>
                    <ion-button color="success" (click)="send()" *ngIf="this.show_button" expand="block">
                        ส่งคำตอบ
                        <ion-img style="height: 25px; width: 25px;margin-left: 10px;"src="../../assets/image/send-button.png"></ion-img>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>