.bg {
    --background: #dae8ee !important;
}
  
.bg-toolbar {
    --background: #c9e5f1 !important;
}

.bg-gradient-purple {
    --background: linear-gradient(to top left, #cc33ff 0%, #cc0099 55%) !important;
    --color: white;
}
