<ion-header>
    <ion-toolbar class="bg-toolbar">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>แสดงผลการสอบ</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg">
    <ion-card class="bg-gradient-purple">
        <ion-card-header>
            <h3>ค้นหารายการสอบ</h3>
        </ion-card-header>
        <ion-list lines="none">
            <ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-label align-self-center style="font-family: 'Prompt', sans-serif;">
                            วิชา
                            <ion-text color="danger">*</ion-text>
                        </ion-label>
                        <ion-select placeholder="โปรดเลือก" name="crsId" [(ngModel)]="crsId">
                            <ion-select-option style="font-family: 'Prompt', sans-serif;"
                                *ngFor="let rs_subject of rs_subject;let i = index" [value]="rs_subject.crsId">
                                {{rs_subject.crsName}}
                            </ion-select-option>
                        </ion-select>
                    </ion-row>
                </ion-grid>
            </ion-item>

            <!-- year -->
            <!-- <ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-label align-self-center>
                            ปีการศึกษา
                            <ion-text color="danger">*</ion-text>
                        </ion-label>
                        <ion-select name="Year" [(ngModel)]="Year">
                            <ion-select-option *ngFor="let rs_year of rs_year;let i = index" [value]="rs_year.Year">
                                {{rs_year.Year}}</ion-select-option>
                        </ion-select>
                    </ion-row>
                </ion-grid>
            </ion-item> -->

            <!-- term -->
            <!-- <ion-item>
                <ion-grid>
                    <ion-row>

                        <ion-label align-self-center>
                            ภาคการศึกษา
                            <ion-text color="danger">*</ion-text>
                        </ion-label>
                        <ion-select name="crs_term" [(ngModel)]="crs_term">
                            <ion-select-option value="1" selected="true">1</ion-select-option>
                            <ion-select-option value="2">2</ion-select-option>
                            <ion-select-option value="3">3</ion-select-option>
                        </ion-select>
                    </ion-row>
                </ion-grid>
            </ion-item> -->

            <ion-row>
                <ion-col>
                    <ion-button (click)="show_result_exam_student()" color="primary" float-right>ค้นหา</ion-button>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-card>

    <ion-card *ngIf="hide" class="bg-gradient-purple">
        <ion-card-header>
            <h3>ผลการสอบ</h3>
        </ion-card-header>
        <ion-item>
            <ion-grid>

                <ion-row class="ion-text-center">
                    <ion-col>
                        <h5>ชื่อชุดข้อสอบ</h5>
                    </ion-col>
                    <ion-col>
                        <h5>คะแนน</h5>
                    </ion-col>
                </ion-row>

                <ion-row class="ion-text-center"
                    *ngFor="let rs_result_exam_student of rs_result_exam_student;let i = index">
                    <ion-col>
                        <ion-label>{{rs_result_exam_student.ib_name}}</ion-label>
                    </ion-col>
                    <ion-col>
                        <!-- แสดงคะแนน -->
                        <div *ngIf="rs_result_exam_student.asr_score != NULL ; else elseBlock">
                            <ion-label>{{rs_result_exam_student.asr_score}}</ion-label>
                        </div>
                        <ng-template #elseBlock>
                            <ion-label>-</ion-label>
                        </ng-template>
                        <!-- สิ้นสุดแสดงคะแนน -->
                    </ion-col>
                </ion-row>

            </ion-grid>
        </ion-item>
    </ion-card>

</ion-content>

<ion-footer>
    <ion-toolbar class="bg-toolbar">
        <ion-title style="font-size: 15px;" text-center="text-center">create by Team 2</ion-title>
    </ion-toolbar>
</ion-footer>