<ion-header>
  <ion-toolbar class="bg-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>จัดการชุดข้อสอบ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">

  <ion-card style="background-color: white;">

    <ion-card-header class="bg-gradient-purple">
      <h3>
        <ion-icon name="add-circle-outline"></ion-icon> เพิ่มชุดข้อสอบ
      </h3>
    </ion-card-header>

    <!-- Item -->
    <ion-item>
      <ion-label position="floating">
        ชื่อชุดข้อสอบ
      </ion-label>
      <ion-input type="text" [(ngModel)]="nameItem" placeholder=""></ion-input>
    </ion-item>

    <ion-item style="border-radius: 5px; margin-top: 5px;">
      <ion-label position="floating">
        จำนวนคำถาม
      </ion-label>
      <ion-input type="number" [(ngModel)]="numberOfQues" placeholder=""></ion-input>
    </ion-item>

    <!-- end Item -->

  </ion-card>

  <ion-card style="background-color: white;">

    <ion-card-header class="bg-gradient-purple">
      <h3>
        <ion-icon name="basket"></ion-icon> เลือกคำถาม
      </h3>
    </ion-card-header>

    <ion-item>
      <ion-label position="floating">
        ชุดคำถาม
      </ion-label>
      <ion-select placeholder="โปรดเลือก">
        <ion- option>
          1
        </ion-  option>
      </ion-select>
    </ion-item>
  </ion-card>

</ion-content>