<!-- ion-content -->
<ion-content class="bg-color">
    <ion-row justify-content-center class="bg-color">
        <ion-col align-self-center class="bg-color">

            <!-- logo -->
            <div class="mt-0 pt-0" style="align-items: center;">
                <ion-img style="height: 200px; width: 200px;"src="../../assets/image/logo.png"></ion-img>
            </div>
            <!-- end logo -->

            <!-- title -->
            <ion-text>
                <h3 class="ion-text-center itim"> Online Examination </h3>
            </ion-text>
            <!-- end title -->
            
            <!-- login -->
            <div padding>
                <ion-item style="border-radius: 5px;">
                    <ion-label>
                        <ion-icon name="contact"></ion-icon>
                    </ion-label>
                    <ion-input type="text" [(ngModel)]="username" placeholder="ชื่อผู้ใช้งาน"></ion-input>
                </ion-item>
                <ion-item style="border-radius: 5px; margin-top: 5px;">
                    <ion-label>
                        <ion-icon name="key"></ion-icon>
                    </ion-label>
                    <ion-input type="password" [(ngModel)]="password" placeholder="รหัสผ่าน"></ion-input>
                </ion-item>
            </div>  
            <!-- end login -->

            <!-- login button -->
            <div padding>
                <ion-button (click)="validate()" expand="block" >เข้าสู่ระบบ</ion-button>
            </div>
            <!-- end login button -->

        </ion-col>
    </ion-row>
</ion-content>
<!-- end ion-content -->

<!-- ion-footer -->
<!-- <ion-footer>
    <ion-toolbar>
        <ion-title text-center style="font-size: 12px;">create by Team 2</ion-title>
    </ion-toolbar>
</ion-footer> -->
<!-- end ion-footer -->